@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.header {
  text-align: center;
  margin: 48px auto 96px auto;
  h1 {
    margin: 0;
    font-size: 64px;
  }

  h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
  }
}
