.header {
  text-align: center;
  margin: 48px auto 48px auto;

  & h1 {
    margin: 0;
    font-size: 64px;
  }

  & h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
  }

  & h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 24px auto 48px auto;

    & h1 {
      font-size: 32px;
    }
    & h2 {
      font-size: 24px;
      font-weight: 400;
    }
  }
}
